extends layout

block content
    h1= title
    p This is our #{title}
    main Contact us on our social media accounts.

    ul
        li
            <a href = "#">Home page</a>
        li
            <a href = "#">Our Services</a>
        li
            <a href = "#">Contact Us</a>

