extends layout

block content
  h1= title
  h4 Welcome to #{title}
  h4 #{subtitle}
  h3 #{subtitle2}

  ul
    li
      <a href = "#">Home page</a>
    li
      <a href = "#">Our Services</a>
    li
      <a href = "#">Contact Us</a>

